<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        Convert Your Tech
                    </a>
                </li>
                <li>
                    <a href="">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <!-- <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with by
            <a href="" target="_blank">Devy.io</a> for a better web.
        </div> -->
    </div>
</footer>
