#main{
  width: 800px;
  height: 800px;
  background-color: #ececec;
}

.container{
  padding-top: 50px;
  width: 600px;
  height: 500px;
  background-color: #ececec;

}

.login-lbl{
  text-align: center;
  color: #888B8A;
  font-family:NanumGothic;
}

.fa-bars{
  color: #888B8A;
}

.fa-calendar-week{
  color: #888B8A;
}

.example-button-row{
  width: 400px;

}
.logInBtn{
  margin-left: 40px;
  width: 100%;
  background-color: #ff2438;
  color: #ffffff;
  font-family: NanumGothic;
  font-weight: bold;
}

.forgetPwdSpan{
  alignment: center;
  font-family: NanumGothic;
}
