<!--<br>-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row" style="margin:0">
    <div class="col-xl-4 col-lg-4 col-md-2 col-1"></div>
    <div class="col-xl-4 col-lg-4 col-md-8 col-10">
            <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title">Log In</h3>
                        <p class="card-category">Enter your credentials</p>
                    </div>
                    <div class="card-body">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Email" type="email" [(ngModel)]="user.email" name="email" value="">
                            </mat-form-field>
                            <br>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="pword" value="">
                            </mat-form-field>
                            <br>
                            <div>
                                <button class="btn btn-primary btn-round logInBtn" style="margin:auto;background-color: #4233a3;color: white" (click)="loginUser();" >Sign In</button>
                            </div>
                        </form>
                        <div class="alert alert-warning m-1 text-center" role="alert" *ngIf="showWarn">
                            Username or password is invalid!
                        </div>
                    </div>
                <div class="col-md-12">

                </div>
            </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-2 col-1"></div>
</div>


