<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Add Unique Devices</h4>
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <h2></h2>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Device Name" [(ngModel)]="model.deviceName" name="deviceName" type="text"/>
                            </mat-form-field>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-6">

                        </div>
                        <div class="col-6">
                            <button mat-raised-button type="submit" style="position: center"
                                    class="  btn-primary pull-right"  [disabled]="((model.deviceName == ''))" (click)="addDevice()">Save
                            </button>
                        </div>
                    </div>

                    <br>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">Unique Device Details</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class=" text-primary">
                    <th>No</th>
                    <th>DeviceName</th>
                    <th>Image</th>
                    <th>Description</th>
                    </thead>

                    <tbody>
                    <tr style="margin-top: 20px" *ngFor="let device of devices; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{ device.deviceName}}</td>
                        <img src="{{device.imageUrl}}" alt="" style="width: 100px; margin-top: 20px; margin-bottom: 20px    ">
                        <td>{{ device.description}}</td>
                    </tr>
                    </tbody>
                    <tfoot class="text-primary">
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="float-right m-2">
            <button *ngIf="previousBtnVisible" style="color:#4a148c "  mat-raised-button class="material-icons" (click)="previousPage()">
                <i class="material-icons">keyboard_arrow_left</i>
                Previous
            </button>

            <span class="col-md-1"></span>
            <button *ngIf="nexBtnVisible" style="color:#4a148c" mat-raised-button class="material-icons" (click)="nextPage()">Next
                <i class="material-icons">keyboard_arrow_right</i>
            </button>

        </div>

        <div class="float-left m-2">
            <label  style="color: #4a148c"> {{uniqueDeviceOffsetBigin}} - {{uniqueDeviceOffset}}  out of  {{uniqueDeviceTotal}}</label>
        </div>
        <span class="col-md-1"></span>
        <div class="float-left m-2">
            <label  style="color: #4a148c">Page No :{{pageNumber}}</label>
        </div>

        <!--<div class="float-left m-2">-->
            <!--<a class="" style="cursor: pointer" (click)="ascending()">-->
                <!--<i class="material-icons">keyboard_arrow_up</i>-->
            <!--</a>-->
            <!--<span class="col-md-1"></span>-->
            <!--<a class="" style="cursor: pointer" (click)="descending()">-->
                <!--<i class="material-icons">keyboard_arrow_down</i>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</div>
<!--

<div *ngIf="isVisible" class="modal fade" tabindex="-1" role="dialog"  >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" >
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-body mx-3"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> -->
