    <div class="main-content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-2">
                <mat-form-field>
                    <mat-label>Site</mat-label>
                    <mat-select [(ngModel)]="model.siteName">
                        <mat-option *ngFor="let site of loadSites" value="{{site}}">
                            {{site}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field>
                    <mat-label>Brand</mat-label>
                    <mat-select [(ngModel)]="model.brandName">
                        <mat-option *ngFor="let brand of loadBrands" value="{{brand}}" (click)="selectBrand(brand)">
                            {{brand}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field>
                    <mat-label>Model</mat-label>
                    <mat-select style="color: black" [(ngModel)]="model.modelName">
                        <mat-option *ngFor="let modelName of loadModelNames" value="{{modelName}}">
                            {{modelName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field>
                    <mat-label>Network</mat-label>
                    <mat-select [(ngModel)]="model.networkName">
                        <mat-option *ngFor="let network of loadNetwork" value="{{network}}">
                            {{network}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field>
                    <mat-label>Capacity</mat-label>
                    <mat-select [(ngModel)]="model.capacity">
                        <mat-option *ngFor="let capacity of loadCapacities" value="{{capacity}}">
                            {{capacity}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-2">
                <mat-form-field>
                    <mat-label>Condition</mat-label>
                    <mat-select [(ngModel)]="model.condition">
                        <mat-option *ngFor="let condition of loadConditions" value="{{condition}}">
                            {{condition}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Price From" [(ngModel)]="model.priceFrom" name="priceFrom"
                           type="text"/>
                </mat-form-field>

            </div>
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder=" Price To" [(ngModel)]="model.priceTo"
                           (ngModelChange)="checkValues($event)" name="priceTo" type="text"/>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <button mat-raised-button id="filter" style="position: center"
                        class="btn-primary"
                        [disabled]="((model.siteName=='')&&(model.brandName=='')&&(model.modelName=='')&&(model.networkName=='')&&(model.condition=='')&&(model.capacity==''))&&((model.priceFrom=='')||(model.priceTo==''))"
                        (click)="filterData(products)">Filter
                </button>
                <span class="col-1"></span>
                <button mat-raised-button style="position: center"
                        class="btn-danger"
                        (click)="clear()">Clear
                </button>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Device List</h4>
                        <p class="card-category"> Scrapped mobile device details </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table class="table">
                                <thead class=" text-primary">
                                <th>No</th>
                                <th>Site Name</th>
                                <th>Brand Name</th>
                                <th>Modle Name</th>
                                <th>Network Name</th>
                                <th>Capacity</th>
                                <th>Condition</th>
                                <th>Price</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let product of products; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{product.siteName}}</td>
                                    <td>{{product.brandName}}</td>
                                    <td>{{product.modleName}}</td>
                                    <td>{{product.networkName}}</td>
                                    <td>{{product.capacity}}</td>
                                    <td>{{product.condition}}</td>
                                    <td>{{product.price}}</td>
                                    <!--<td>{{product.uniqueDeviceId}}</td>-->
                                </tr>
                                </tbody>
                            </table>
                            <div *ngIf="tableIsEmpty" style="text-align: center" class="alert alert-secondary" role="alert">
                                No Data Found...!
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="countVisible" class="float-right m-2">
                    <!--<a class="" style="cursor: pointer" (click)="previousPage()">-->
                    <!--<i class="material-icons">keyboard_arrow_left</i>-->
                    <!--</a>-->


                    <button *ngIf="previousBtnVisible" style="color: #4a148c" mat-raised-button class="material-icons" (click)="previousPage()">
                        <i class="material-icons">keyboard_arrow_left</i>
                        Previous
                    </button>
                    <span class="col-md-1"></span>
                    <button *ngIf="nexBtnVisible" style="color:#4a148c" mat-raised-button class="material-icons" (click)="nextPage()">Next
                        <i class="material-icons">keyboard_arrow_right</i>
                    </button>
                    <!--<a *ngIf="nextBtn" class="" style="cursor: pointer" (click)="nextPage()">-->
                    <!--<i class="material-icons">keyboard_arrow_right</i>-->
                    <!--</a>-->

                </div>


                <div *ngIf="countVisible" class="float-left m-2">
                    <label *ngIf="hideAllRecordLabel"  style="color: #4a148c"> {{allDeviceOffset-10}} - {{allDeviceOffset}}  out of  {{allProductsTotal}}</label>
                    <label *ngIf="hideFilterRecordlabel" style="color: #4a148c"> {{allDeviceOffset-10}} - {{allDeviceOffset}}  out of {{filterTotal}}</label>
                </div>
                <span class="col-md-1"></span>
                <div class="float-left m-2">
                    <label  style="color: #4a148c">Page No : {{PageNo}}</label>
                </div>



                <!--<div class="float-left m-2">-->
                    <!--<a class="" style="cursor: pointer" (click)="ascending()">-->
                        <!--<i class="material-icons">keyboard_arrow_up</i>-->
                    <!--</a>-->
                    <!--<span class="col-md-1"></span>-->
                    <!--<a class="" style="cursor: pointer" (click)="descending()">-->
                        <!--<i class="material-icons">keyboard_arrow_down</i>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
