<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="card-header card-header-info">
              <h4 class="card-title">Scrapping Logs</h4>
              <p class="card-category">Scrapped Log details</p>
          </div>
          <div class="card-body table-responsive">
              <table class="table table-hover">
                  <thead class=" text-primary">
                  <th>No</th>
                  <th>Site Name</th>
                  <th>Url</th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let scrapped of scrappedList; let i = index">
                      <td>{{i+1}}</td>
                      <td>{{scrapped.siteName}}</td>
                      <td>{{scrapped.url}}</td>
                      <td>
                          <button data-toggle="modal" data-target="#myModal" mat-raised-button type="submit" style="position: center"
                                  class="  btn-primary"   (click)="scrappingLogs(scrapped.url)">Logs
                          </button>
                      </td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <br>

          <!-- Modal -->
          <div  id="myModal" class="modal fade; col-md-10" role="dialog">
              <div class="modal-dialog">

                  <!-- Modal content-->
                  <div style="width: 1000px" class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title"></h4>
                      </div>
                      <div class="modal-body">
                          <div class="card-header card-header-primary">
                              <h4 class="card-title ">Log Details</h4>
                              <p class="card-category"></p>
                          </div>
                          <div  class="card-body">
                              <div class="table-responsive">
                                  <table mat-table  class="table" id="logsTable">
                                      <thead class=" text-primary">
                                      <th>No</th>
                                      <th>Timestamp</th>
                                      <th>Level</th>
                                      <th>Message</th>
                                      <th>Site</th>
                                      </thead>
                                      <tbody>
                                      <tr *ngFor="let log of scrappedLogs; let i = index">
                                          <td>{{i+1}}</td>
                                          <td>{{log.timestamp}}</td>
                                          <td>{{log.level}}</td>
                                          <td>{{log.message}}</td>
                                          <td>{{log.meta.siteName}}</td>
                                      </tr>
                                      <tr>
                                          <td colspan="4" style="text-align: center">No Data..!</td>
                                      </tr>
                                      </tbody>
                                  </table>
                                  <div class="col-md-6">
                                      <img class="pull-right" width="40px"
                                           style="cursor: pointer"
                                           alt="pdf image"
                                           src="../../assets/img/pdfImg.jpg"
                                           (click)="exportAs('pdf')">

                                  </div>

                              </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>

              </div>
          </div>

      </div>
  </div>
</div>
