<div class="main-content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-info">
                                <i class="material-icons">account_circle</i>
                                <h4 class=" card-title "> Add New Admin </h4>
                        <p class="card-category">Create new user for admin panel</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <br>
                            <div class="row">
                                <div class="col-md">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="User Name" [(ngModel)]="model.name" #email="ngModel" name="name" type="text"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">

                                        <input  matInput placeholder="Email Address" [(ngModel)]="model.email"
                                               name="email" type="email"/>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">

                                        <input matInput placeholder=""  id="password"  [(ngModel)]="model.password" (ngModelChange)="validatePwd()"  name="password"
                                               type="password" #password="ngModel">
                                        <mat-label>Enter Password</mat-label>
                                    </mat-form-field>
                                    <!--<div *ngIf="password.errors || (password.dirty || password.touched)" class="">-->
                                        <!--<div [hidden]="password.errors.required">-->
                                            <!--The Password should have at least 8 characters-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="" id="confirmPassword" [(ngModel)]="model.c_password" name="c_password"  (ngModelChange)="matchPwd()" type="password"/>
                                        <mat-label>Confirm Password</mat-label>
                                    </mat-form-field>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">

                                    <button mat-raised-button type="submit" class="btn-primary pull-right"
                                            [disabled]="((! model.name )||(! model.email)||( ! model.password)||(! is_matched))"
                                            (click)="addNewRecord()">Save Changes
                                    </button>
                                    <!--<button mat-raised-button type="submit" class="btn btn-primary pull-right">Close</button>-->
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <!--<div class="col-md-5">-->
                <!--<div class="card card-profile">-->
                    <!--<div class="card-avatar">-->
                        <!--<a href="#pablo">-->
                            <!--<img class="img" src="./assets/img/faces/marc.jpg"/>-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div class="card-body">-->
                        <!--<h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
                        <!--<h4 class="card-title">Alec Thompson</h4>-->
                        <!--<p class="card-description">-->
                            <!--Don't be scared of the truth because we need to restart the human foundation in truth And I-->
                            <!--love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
                        <!--</p>-->
                        <!--<a href="#pablo" class="btn btn-danger btn-round">Follow</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <!--<div class="row">-->
            <!--<div class="col-4"></div>-->
            <!--<div class="col-4">-->
                <!--<form class="navbar-form">-->
                    <!--<div class="input-group no-border">-->
                        <!--<input type="text" value="" class="form-control" placeholder="Search...">-->
                        <!--<button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">-->
                            <!--<i class="material-icons">search</i>-->
                            <!--<div class="ripple-container"></div>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="col-4"></div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-info">
                        <i class="material-icons">account_circle</i>
                        <h4 class="card-title ">Admin Users</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>No</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Last Login</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let person of persons; let i = index">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ person.name }}</td>
                                    <td *ngIf="person.usertype==1">Admin</td>
                                    <td *ngIf="person.usertype==2">User</td>
                                    <td>{{ person.last_login_date | date }}</td>
                                    <td>
                                        <button mat-raised-button class="btn-primary" (click)="deleteUser(person._id)">
                                            Delete
                                        </button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

    </div>
</div>
