<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Setting</h4>
                        <p class="card-category">Change Admin Password</p>
                    </div>
                    <div class="card-body">
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="The Password must contain 8 characters" [(ngModel)]="model.newPassword"name="newPassword" type="password" >
                                <mat-label>Enter New Password</mat-label>
                            </mat-form-field>
                            <br>
                            <mat-form-field class="example-full-width">
                                <input matInput  placeholder="The Password must contain 8 characters" [(ngModel)]="model.confirmNewPassword" name="confirmNewPassword" type="password" >
                                <mat-label>Confirm Password</mat-label>
                            </mat-form-field>
                            <br>
                            <div class="example-button-row">
                                <button mat-raised-button type="submit" class=" btn-primary pull-right" [disabled]="((model.newPassword == '')||(model.confirmNewPassword == ''))" (click)="changePassword()">Save</button>
                            </div>
                            <div>
                                <div></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
